<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<a href="/todos/" target="_blank">待办事项</a><br>
<a href="/issues/" target="_blank">问题记录</a><br>
<a href="/urlfavs/" target="_blank">网页收藏</a><br>
<a href="/exams/" target="_blank">试题集</a><br>


